# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 256
b = 256

if (a is b):
  print("Змінні a і b посилаються на один і той самий об'єкт в пам'яті")

else:
  print("Змінні a і b НЕ посилаються на один і той самий об'єкт в пам'яті")

Змінні a і b посилаються на один і той самий об'єкт в пам'яті

Так, якщо цілі числа однакові за значенням і лежать в проміжку від -5 до 256, то змінні, які посилаються на ці два цілих числа будуть не лише рівні за значенням, а і посилатися на один і той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [14]:
a = True

print(isinstance(a, (bool, int)))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [27]:
num1 = 10
num2 = 50.5

print("num1 =", num1,";", "num2 =", num2)
print("num1+num2 =", num1 + num2)
print("num1-num2 =", num1 - num2)
print("num2/num1 =", num2 / num1)
print("num1*num2 =", num1 * num2)
print("num2//num1 =", num2 // num1)
print("num2%num1 =", num2 % num1)
print("num2**num1 =", num2 ** num1)

num1 = 10 ; num2 = 50.5
num1+num2 = 60.5
num1-num2 = -40.5
num2/num1 = 5.05
num1*num2 = 505.0
num2//num1 = 5.0
num2%num1 = 0.5
num2**num1 = 1.0787325443468794e+17

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [47]:
num1 = 10
num2 = 50.5
bool_variable = True

num2_to_int = int(num2)
print("num2 в int:", num2_to_int)

bool_var_to_int = int(bool_variable)
print("bool_variable в int :", bool_var_to_int)

num2 в int: 50
bool_variable в int : 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [46]:
a = ""
b = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [44]:
my_str = "I'm love python"
my_str_raw = r"I'm love python"

print(my_str)
print(my_str_raw)

I'm love python
I'm love python

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [45]:
surname = 'Anfimov'
format_str = f"My surname is {surname}"
print(format_str)

My surname is Anfimov

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [13]:
my_str = "My dog is crazy"
my_list = my_str.lower().split()
print(my_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [20]:
list_1 = [1,2,3]
list_2 = list()
list_len = len(list_1)
print(list_len)

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [21]:
list_1 = [1,2,3,4,5]
list_2 = [6,7]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6, 7]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [25]:
my_list = [[1,2,3], [5,6,7]]
element = my_list[-1][0]
print(element)

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [27]:
my_list = [1, 1.5, "Hello", True, None, [2,3], "world", 8, False, 2.5]

new_list = my_list[2:-2]
print(new_list)

['Hello', True, None, [2, 3], 'world', 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = ('Hello world')

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Кортежі, як і списки, можуть містити в собі об'єкти різних типів даних. Їхня головна відмінність в тому, що кортеж - це незмінний тип даних (а список - змінний), операції з яким є швидшими за операції зі списками. Кортежі зазвичай використовуються в випадках зі статичними данними, списки ж навпаки, у випадках коли не потрібна чітка структура.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [30]:
my_tuple = (1.5, 2.5, 3.5, 10.3, 42.5, 24.5, 23.5, 56.5, 27.4, 1.6, 9.2)
new_tuple = my_tuple[::-2]
print(new_tuple)

(9.2, 27.4, 23.5, 42.5, 3.5, 1.5)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [31]:
set_var = set()
set_var.add(10)
set_var.add(2.5)
set_var.add(True)
print(set_var)

{True, 10, 2.5}

Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [32]:
my_list = [1, 1, 2, 67, 67, 8, 9]

my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Деякі елементи зникли, тому що множина містить лише унікальні значення, без дублікатів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7, 8}

union_set = set1.union(set2)
print(union_set)

difference_set = set1.difference(set2)
print(difference_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2}
{3, 4, 5}
{1, 2, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [36]:
my_dict = {}
my_dict['name'] = 'Vladyslav'
my_dict[18] = 'Age'
my_dict[True] = 'Student'
my_dict['3.14'] = 'PI'
print(my_dict)

{'name': 'Vladyslav', 18: 'Age', True: 'Student', '3.14': 'PI'}

Список не може бути ключем, тому що список - це змінний тип данних, тому він не є хешованим, а отже не може бути ключем у словнику.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [43]:
dict_2 = {'key_2': 'dict_2_value'}

dict_1 = {'key_1': dict_2}

my_dict = {'key': dict_1}
dict_2_value = my_dict['key']['key_1']['key_2']
print(dict_2_value)

dict_2_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.