# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [7]:
a = 8

if (a % 2 == 0):
  result = a * 2
  print(result)
else:
  result = a * 3 + 1
  print(result)

16

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [18]:
a = []

if len(a) == 0:
  a.append(10)
else:
  pass

print(a)

[1]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [33]:
my_name = 'Vladyslav'

if 'a' or 'i' in my_name:
    print("A or I is in the name")

if 'o' and 'n' in my_name:
    print("O and N is in the name")

elif 'n' in my_name:
    print("Only N is in the name")

else:
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [35]:
my_list = [x for x in range(10) if x % 2 == 1]
print(my_list)

[1, 3, 5, 7, 9]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [37]:
my_dict = {x: "even" if x % 2 == 0 else "odd" for x in range(15)}
print(my_dict)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even', 11: 'odd', 12: 'even', 13: 'odd', 14: 'even'}

Comprehensions слід використовувати, коли потрібно утворити не складну колекцію за допомогою логічних операторів. Але коли необхідно стоворити колекцію за допомогою складних умов і розгалуженої логіки, то краще скористатися звичайним циклом, щоб код було легше читати і підтримувати.

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [39]:
my_list = ['dead', 'before', 'sun', 'is', 'gone']
new_list = [word[:3].upper() for word in my_list]

print(new_list)

['DEA', 'BEF', 'SUN', 'IS', 'GON']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [40]:
a = 0

while a < 10:
  a += 1
  print(a)

1
2
3
4
5
6
7
8
9
10

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [43]:
nums = 0

while nums < 20:
  if nums %2 != 0:
    print(nums)
  nums += 1

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [1]:
my_list = [True, False, True, False, None, True]
final_list = []

for i in range (len(my_list)):
  my_tuple = (i, my_list[i])
  final_list.append(my_tuple)

print(final_list)

[(0, True), (1, False), (2, True), (3, False), (4, None), (5, True)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [2]:
my_dict = {'Atomic habits': 5, 'Rain day': 12, 'Barbie story': 3, 'Martin Iden': 20, 'Silent sky': 11, 'Golden heart': 7}

for book in my_dict:
    my_dict[book] += 5

print(my_dict)

{'Atomic habits': 10, 'Rain day': 17, 'Barbie story': 8, 'Martin Iden': 25, 'Silent sky': 16, 'Golden heart': 12}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [3]:
n = 5

for i in range(1, n + 1):
    print("#" * i)

#
##
###
####
#####

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [5]:
import random

guessing_number = random.randint(1, 100)
user_number = 0
att_counter = 0
print("Guess the number from 1 to 100")

while guessing_number != user_number:
  att_counter +=1
  user_number = int(input("Enter your number: "))

  if guessing_number == user_number:
    print (f"Congratulations, you're right!, your number of attempts: {att_counter}")

  elif guessing_number > user_number:
    print("You're wrong, try a higher number")

  elif guessing_number < user_number:
    print("You're wrong, try a lower number")

uess the number from 1 to 100
Enter your number: 1
You're wrong, try a higher number
Enter your number: 5
You're wrong, try a higher number
Enter your number: 20
You're wrong, try a higher number
Enter your number: 50
You're wrong, try a higher number
Enter your number: 70
You're wrong, try a higher number
Enter your number: 99
You're wrong, try a lower number
Enter your number: 80
You're wrong, try a higher number
Enter your number: 85
You're wrong, try a higher number
Enter your number: 90
You're wrong, try a higher number
Enter your number: 95
You're wrong, try a higher number
Enter your number: 96
Congratulations, you're right!, your number of attempts: 11

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.